*.ifc filter=lfs diff=lfs merge=lfs -text
*.3dxml filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.laz filter=lfs diff=lfs merge=lfs -text
*.las filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
