## convert2xkt Performance Tests


24 / 5 / 2021
---
## Notes


* convert2xkt 1.3.0
* xeokit-sdk 1.9.0
* Chrome/92.0.4512.0
* Click thumbnails to view models with xeokit.


## Results


| Screenshot | Source | Convert Secs | Load Secs | FPS | Objects | Triangles | Vertices | Source kB | XKT kB | Compression |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| [![](https://xeokit.github.io/xeokit-xkt-utils/tests/models/xkt/ifc_duplex/screenshot/screenshot.png)](https://xeokit.github.io/xeokit-xkt-utils/tests/testXKT.html?xktSrc=.././models/xkt/ifc_duplex/model.xkt) | [ifc_duplex](./tests/loadXKT.html?xktSrc=.././models/xkt/ifc_duplex/model.xkt) | 0.89 | 0.20 | 30 | 208 | 20194 | 49504 | 2366.05 | 88.94 | 26.60 |